<!doctype html>
<html class="fixed">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">
		<title>Dashboard | JSOFT Themes | JSOFT-Admin</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-datepicker/css/datepicker3.css')}}" />
		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-multiselect/bootstrap-multiselect.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/morris/morris.css')}}" />
		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/theme.css')}}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/skins/default.css')}}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/theme-custom.css')}}">

		<!-- Head Libs -->
		<script src="{{url_for('static', filename='vendor/modernizr/modernizr.js')}}"></script>

	</head>
	<body>
		<section class="body">
			<!-- start: header -->
            {% block headbar %}{% endblock %}
			<!-- end: header -->
			<div class="inner-wrapper">
				<!-- start: sidebar -->
                {% block leftbar %}{% endblock %}
				<!-- end: sidebar -->
                {% block body %}{% endblock %}
			</div>
            {% block rightbar %}{% endblock %}
		</section>
		<!-- Vendor -->
		<script src="{{url_for('static', filename='vendor/jquery/jquery.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jquery-browser-mobile/jquery.browser.mobile.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/nanoscroller/nanoscroller.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jquery-placeholder/jquery.placeholder.js')}}"></script>
		
		<!-- Specific Page Vendor -->
		<script src="{{url_for('static', filename='vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jquery-appear/jquery.appear.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/bootstrap-multiselect/bootstrap-multiselect.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jquery-easypiechart/jquery.easypiechart.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/flot/jquery.flot.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/flot-tooltip/jquery.flot.tooltip.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/flot/jquery.flot.pie.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/flot/jquery.flot.categories.j')}}s"></script>
		<script src="{{url_for('static', filename='vendor/flot/jquery.flot.resize.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jquery-sparkline/jquery.sparkline.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/raphael/raphael.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/morris/morris.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/gauge/gauge.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/snap-svg/snap.svg.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/liquid-meter/liquid.meter.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/jquery.vmap.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/data/jquery.vmap.sampledata.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/jquery.vmap.world.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/continents/jquery.vmap.africa.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/continents/jquery.vmap.asia.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/continents/jquery.vmap.australia.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/continents/jquery.vmap.europe.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/continents/jquery.vmap.north-america.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/jqvmap/maps/continents/jquery.vmap.south-america.js')}}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{{url_for('static', filename='javascripts/theme.js')}}"></script>
		
		<!-- Theme Custom -->
		<script src="{{url_for('static', filename='javascripts/theme.custom.js')}}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{{url_for('static', filename='javascripts/theme.init.js')}}"></script>


		<!-- Examples -->
		<script src="{{url_for('static', filename='javascripts/dashboard/examples.dashboard.js')}}"></script>
	</body>
</html>